* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  min-width: 375px;
  background-color: $color-white;
  background-image: url(../../images/bg-pattern-top-mobile.svg),
    url(../../images/bg-pattern-bottom-mobile.svg);
  //background-position: 105% 0%, 100% 100%;
  background-position: top left, bottom 0 right 100%;
  background-repeat: no-repeat;
  min-height: 100%;

  @media (min-width: $breakpoint-tablet) {
    background-image: url(../../images/bg-pattern-top-desktop.svg),
      url(../../images/bg-pattern-bottom-desktop.svg);
    //background-position: right 31vw bottom 137vh, left 0vw top 96vh;
    background-position: top left, bottom right;
    flex-direction: row;
    width: $breakpoint-tablet;
    margin: auto;
  }

  @media (min-width: $breakpoint-desktop) {
    background-image: url(../../images/bg-pattern-top-desktop.svg),
      url(../../images/bg-pattern-bottom-desktop.svg);
    //background-position: right 62vw bottom 45vh, left 27vw top 16vh;
    background-attachment: fixed;
    width: 1440px;
  }
}

// MAIN

@media (min-width: $breakpoint-desktop) {
  main {
    width: 100%;
    max-width: 1350px;
    height: 670px;
    display: flex;
    flex-direction: row;
    padding: 60px;
    margin-top: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.titleAndIntro {
  display: block;
  width: $width-mobile;

  h1 {
    padding-top: 75px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  p {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: center;
  }

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    h1 {
      text-align: left;
      padding-top: 30px;
      padding-bottom: 15px;
    }

    p {
      padding-top: 0;
      padding-left: 33px;
      text-align: left;
      line-height: 25px;
    }
  }
}

// RATING

.rating-container {
  display: flex;
  flex-direction: column;
  width: $width-mobile;
  align-items: center;

  section {
    width: 86%;
    background-color: $color-light-grayish-magenta;
    margin: 7px 10px 7px 10px;
    text-align: center;
    padding: 13px;
    border-radius: 7px;

    .star-container {
      padding-bottom: 4px;
      span {
        background-image: url(../../images/icon-star.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 35px;
    margin-right: 15px;

    .rating-container__item--first {
      margin-left: -10px;
    }

    .rating-container__item--second {
      margin-left: 83px;
    }

    .rating-container__item--third {
      margin-left: 173px;
    }

    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 415px;
      padding: 15px;
      margin-bottom: 10px;
      text-align: left;

      .star-container {
        margin-left: 12px;
        padding: 0;

        span {
          background-position: center;
        }
      }

      h6 {
        margin: auto;
        margin-left: 26px;
      }
    }
  }
}

.card-container {
  width: $width-mobile;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 80px;
  align-items: center;

  div {
    width: 86%;
    justify-content: center;
    background-color: $color-very-dark-magenta;
    margin: 7px 10px 7px 10px;
    border-radius: 10px;
    padding: 35px 37px 30px 36px;
    text-align: left;

    .card-header {
      display: flex;
      flex-direction: row;
      padding-bottom: 23px;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 20px;
      }

      .name {
        display: block;
      }

      span {
        display: block;
        padding-top: 4px;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    width: 1180px;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;

    div {
      width: 343px;
      height: 225px;
      margin-left: 13px;
      margin-right: 13px;

      .card-header {
        margin-top: 5px;
      }
    }

    .card-container__item--second {
      margin-top: 35px;
    }

    .card-container__item--third {
      margin-top: 70px;
    }
  }
}
