* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  min-width: 375px;
  background-color: $color-white;
}

// MAIN

.titleAndIntro{
  display: block;
  width: $width-mobile;

  h1{
    padding-top: 75px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;    
  }

  h3{
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.rating-container{
  display: flex;
  flex-direction: column;
  width: $width-mobile;
  align-items: center;

  section{
    width: 90%;
    background-color: $color-light-grayish-magenta;
    margin: 7px 10px 7px 10px;
    text-align: center;
    padding: 13px;
    border-radius: 7px;

    .star-container{
      padding-bottom: 4px;
      span{
        background-image: url(/assets/images/icon-star.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }

    
  }
  
}


// FOOTER

footer {
  position: fixed;
  padding-top: 12px;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: $color-light-grayish-magenta;
}

footer p {
  display: inline-block;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
