// TYPOGRAPHY

* {
  font-family: $base-font;
}

html {
  font-size: 62.5%;
}

body{
  font-size: $primary-font-size;
}

h1{
  font-size: 3rem;
  font-weight: $font-weight-bold;
  letter-spacing: -1.1px;
  line-height: 30px;
  color: $color-very-dark-magenta;
}

h3{
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: $font-weight-normal;
  color: $color-very-dark-magenta;
}

h6{
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
  color: $color-very-dark-magenta;
}

h4{
  font-size: 1.2rem;
  color: $color-white;
  font-weight: $font-weight-normal;

}

span{
  font-size: 1.2rem;
  color: $color-soft-pink;
  font-weight: $font-weight-normal;
}

p{
  font-size: 1.2rem;
  color: $color-white;
  line-height: 20px;

}

footer {
  font-size: 1.3rem;
  font-weight: normal;
  p{
    color: $color-very-dark-magenta;
  }
}
