// COLORS

// Primary
$color-very-dark-magenta: hsl(300, 43%, 22%);
$color-soft-pink: hsl(333, 80%, 67%);

// Neutral
$color-dark-grayish-magenta: hsl(303, 10%, 53%);
$color-light-grayish-magenta: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

// TYPOGRAPHY
$base-font: 'Spartan', sans-serif;
$primary-font-size: 1.5rem;
