* {
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.1px;
  line-height: 30px;
  color: #502050;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4.9rem;
    letter-spacing: 0;
    line-height: 45px;
  }
}

h3 {
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: 500;
  color: #502050;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 1.4rem;
    color: #937b92;
  }
}

h6 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #502050;
}

h4 {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

span {
  font-size: 1.2rem;
  color: rgba(238, 104, 164, 0.527);
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  color: white;
  line-height: 20px;
}

footer {
  font-size: 1.3rem;
  font-weight: normal;
}

footer p {
  color: #502050;
}

a {
  text-decoration: none;
  color: #502050;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 375px;
  background-color: white;
}

@media (min-width: 1024px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1440px;
  }
}

@media (min-width: 1024px) {
  main {
    width: 100%;
    height: 670px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.titleAndIntro {
  display: block;
  width: 375px;
}

.titleAndIntro h1 {
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.titleAndIntro h3 {
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 1024px) {
  .titleAndIntro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 510px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .titleAndIntro h1 {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .titleAndIntro h3 {
    padding-top: 0;
    padding-left: 33px;
    text-align: left;
    line-height: 25px;
  }
}

.rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 375px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-container section {
  width: 86%;
  background-color: #f7f2f7;
  margin: 7px 10px 7px 10px;
  text-align: center;
  padding: 13px;
  border-radius: 7px;
}

.rating-container section .star-container {
  padding-bottom: 4px;
}

.rating-container section .star-container span {
  background-image: url(/assets/images/icon-star.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .rating-container {
    width: 600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-block;
    margin-top: 35px;
    margin-left: 100px;
  }
  .rating-container .rating-container__item--second {
    margin-left: 60px;
  }
  .rating-container .rating-container__item--third {
    margin-left: 120px;
  }
  .rating-container section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 375px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
  }
  .rating-container section .star-container {
    margin: auto;
    padding: 0;
  }
  .rating-container section .star-container span {
    background-position: center;
  }
  .rating-container section h6 {
    margin: auto;
  }
}

.card-container {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
  margin-bottom: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container article {
  width: 86%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #502050;
  margin: 7px 10px 7px 10px;
  border-radius: 10px;
  padding: 35px 37px 30px 36px;
  text-align: left;
}

.card-container article .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container article .card-header img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 20px;
}

.card-container article .card-header h4 {
  display: block;
}

.card-container article .card-header span {
  display: block;
  padding-top: 4px;
}

@media (min-width: 1024px) {
  .card-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer {
  position: fixed;
  padding-top: 12px;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #f7f2f7;
}

footer p {
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */